*{
  margin: 0;
}
body{
  height: 100vh;
}
.bg-video{
  position: fixed;
  right:0;
  bottom: 0;
min-height: 100%;
min-width: 100%;
}
.container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  animation-name: show;
  animation-duration: 5s;
  animation-iteration-count:1;
  animation-fill-mode:forwards;
}
@keyframes show{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
.container a{
  color:white;
  text-decoration: none;
}

.container .header-main{
  font-family:'Times New Roman', Times, serif;
  font-size: 10rem;
  text-transform: uppercase;
  background: repeating-linear-gradient(white,white 2px,transparent 2px,transparent 4px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container .header-second{
  font-family:'Times New Roman', Times, serif;
  font-size: 2.3rem;
  font: weight 500px;
  margin-bottom: 30px;
  color: white;
}
.container svg{
  width: 64px;
  height: 64px;
  fill:#fff;
  transition: all ease 1.5s;
}
.container svg:hover{
  fill:black;
  transition:  all ease 1.5s;
}
.multi_bg_example {
  background-size: 100%;
}

.container input {
  color:black;
padding:10px;
margin-bottom: 10px;
background-color: rgba(19, 7, 7, 0.026);
border-radius: 5px;
height: 15px;
}
.container input:hover{
  background-color: white;
  border-radius: 5px;
  height: 15px;
  }
  
.container button {
margin:20px;
width: 150px;
height: 30px;
background-color: white;
border-radius: 5px;
}
.container button:hover{
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.306);
  transition:  all ease 1.5s;
}
